@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
    --primary-color: #E6A3C2;
    --secondary-color: #5B213F;
    --button-color: #fd4766;
    --white-color: #f0f0f0;
    --dark-box-color: #212124;
    --font-family-default: "Poppins", sans-serif;
    --boader-radius:15px;
}
*{
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}
#main {
    width: 100vw;
    height: 100vh;
    /*background: linear-gradient(to bottom left, #5B213F, white);*/
    background: url("./assets/images/new.jpg") no-repeat center center/cover fixed  ;
    overflow: hidden;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 3px 30px;
    text-decoration: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    margin-left: -50px;
    background-color: rgba(0, 0, 0, 0.39);
}
.logo {
    max-height: 80px;
    width: auto;
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 22px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
    font-size: 21px;

}
nav ul li a {
    color: #E6A3C2;
    position: relative;
    padding: 5px 0;
    margin-left: 24px;
}

nav ul li a:hover,
nav ul li a.active {
    color: #fff;
}

nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: 0.3s;
    bottom: 0;
}

nav ul li a:hover:after {
    width: 100%;
}
.btn {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
    margin: 5px;
}

.btn:hover {
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
}
section {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
.title {
    color: #0a0a0a;
    font-size: 15rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #30e36e 20.69%, #7644ff 50.19%, #fd4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text{
    animation: text 10s linear infinite;
}
@keyframes text {
    0% {
        color: #f85672;
    }
    25% {
        color: rgba(248, 86, 114, 0.41);
    }
    50% {
        color: #E6A3C6;
    }
    75% {
        color: #5B213F;
    }
    100% {
        color: #ad577d;
    }

}
#main{
    height: auto;
    padding: 130px 8%;

}
.box-container-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}
.box-container-main>div:nth-child(2){
    text-align: left;
}
.images {
    background-color: transparent;
    width: 300px;
    height: 300px;
    overflow: hidden;
    animation: rotateBorder 10s linear infinite;
}
.box-container-main>div{
    position: relative;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.box-container-main>div:nth-child(1){
    //background: linear-gradient(120deg, #fd4766 20.69%, #7644ff 50.19%, #fd4766 79.69%);
    top:90px;
}
.box-container-main>div>div:nth-child(1){
    width: 500px;
    height: 500px;
    border-radius: 100%;
    margin: 20px auto;
    /*background: linear-gradient(120deg, #fd4766 20.69%, rgba(248, 86, 114, 0.41) 50.19%, #fd4766 79.69%);*/

}
.box-container-main>div>span{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
    color: #fff;
}
.box-container-main>div>h1{
    color: #5B213F;
    font-size: 70px;
    font-weight: 800;
    margin: 10px 5px;
}
.box-container-main>div>h1>span{
    color: #E6A3C6;
    font-size: 90px;
    font-weight: 800;
}
.box-container-main>div>p{
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
    color: #fff;
    line-height: 40px;
}
.box-container-main>div:nth-child(2) {
    position: relative;
    top:150px;
    left: 100px;
}
.fa-brands{
    color: #E6A3C6;
    font-size: 50px;
    width: 80px;
}
.fa-brands:hover{
    color: rgba(91, 33, 63, 0.53);
}

@keyframes rotateBorder {
    0% {
        background-color: #2B0E1E
    }
    25% {
        border: 2px solid rgba(91, 33, 63, 0.53)
    }
    50% {
        border: 3px solid rgba(248, 86, 114, 0.41);
    }
    75% {
        border: 4px solid #5B213F;
    }
    100% {
        border: 5px solid #5B213F;
    }
}

#about{
    height: auto;
    padding: 100px 9%;

    text-align: center;
    align-items: center;
    justify-items: center;

    background-color: #5B213F;
}
.box-container-about{
    display: flex;
    flex-direction: row;
}
.box-container-about>div{
    position: relative;
    top: 150px;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
}
.box-container-about>div:nth-child(2){
    width: 700px;
    height: auto;
}
.icons-container {
    position: relative;
    transform: translate(-50%, -50%);
    animation: rotateAnimation 2s linear infinite;
    width: 50px;
    height: 50px;

}
#about-me-title{
    display: flex;
    flex-direction: row;
}


@keyframes rotateAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.marquee-container {
    overflow: hidden;
    position: relative;
}
.text1 {
    font-size: 54px;
    color: rgba(255, 255, 255, 0.11);
    background-color: transparent;
    padding: 9px;
    display: block;
    opacity: 0;
    animation: marqueeAnimation 3s linear infinite;
}

.text1:nth-child(1) {
    animation-delay: 0s;
}

.text1:nth-child(2) {
    animation-delay: 2s;
}

.text1:nth-child(3) {
    animation-delay: 3s;
}

@keyframes marqueeAnimation {
    0% { transform: translateY(100%); opacity: 1; }
    100% { transform: translateY(-100%); opacity: 1; }
}

#about-me-title>h1{
    font-size: 70px;
    line-height: 1.2;
    color: #E6A3C2;
    font-weight: 100;
    margin: 0;
}
#about h1 span {
    color: white;
}
#about h3 {
    font-size: 26px;
    margin-bottom: 10px;
    line-height:2.2;
    font-weight: 300;
    color: #E6A3C2;
    align-items: center;
}
#about h3 span {
    color: white;
    left: 16px;
}
#about p {
    color: white;
    line-height: 3.5rem;
    margin-bottom: 50px;
    font-size: 25px;
}
.buttons button {
    margin-top: 100px;
    border:2px solid transparent;
    color: white;
    padding: 10px 20px;
    background-color: transparent;
    cursor: pointer;
    text-shadow: 0 0 20px rgb(235,209,151);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 19px;
}
.buttons img {
    margin-left: 10px;
}
#marquee-about{
    width: 400px;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: transform 0.4s, opacity 0.4s;
}


#projects{
    width: 100vw;
    height: auto;
    padding: 0 5%;

   background-color: #0a0a0a;
}
#box-container-projects>div:nth-child(1) h1{
    font-size: 50px;
    line-height: 1.2;
    color: #E6A3C2;
    font-weight: 100;
    text-align: left;
}
#box-container-projects{
    position: relative;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#box-container-projects>div{
    padding: 20px;
    text-align: center;
}
/*animated-box*/
/*=============================================*/
.cube-container {
    width: 400px;
    height: 400px;
    border-radius:100%;
    perspective: 1600px;
    margin: 50px auto;
    top: 20px;
}

.cube {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate 8s infinite linear;
}

.face {
    position: absolute;
    width: 400px;
    height: 400px;
    color: rgb(230, 173, 203);
    font-size: 18px;
    text-align: center;
    line-height: 100px;
    background: transparent;
    opacity: 0.9;
    border: 2px solid;
    border-image: linear-gradient(to right, #ff6b6b, #355c7d, #557d35, #cfcf16, #a51f1f) 1;
    box-shadow: 0 0 100px rgb(230, 173, 203);
}

.front {
    transform: translateZ(200px);
}

.back {
    transform: rotateY(180deg) translateZ(200px);
}

.right {
    transform: rotateY(90deg) translateZ(200px);
}

.left {
    transform: rotateY(-90deg) translateZ(200px);
}

.top {
    transform: rotateX(90deg) translateZ(200px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(200px);
}

.cube-container:hover .cube {
    animation-play-state: paused;
}

@keyframes rotate {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}
.box-side-img{
    width:400px;
    height:400px
}

.project-card {
    width: 210px;
    height: 254px;
    border-radius: 4px;
    background: #212121;
    display: flex;
    gap: 5px;
    padding: .4em;
    margin: 100px;
}

.project-card p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #212121;
    border: 1px solid #ff5a91;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card p:hover {
    flex: 4;
}

.project-card p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #ff568e;
    letter-spacing: .1em;
}

.project-card:hover span {
    transform: rotate(0);
}
/*======================================*/

#skills{
    height: auto;
    padding: 70px 9%;
    background: #5B213F;

    text-align: center;
    justify-items: center;
    align-items: center;
}
#skills .box-container-skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}
.box-skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
    padding: 10px;
    gap: 15px;
    /*background-color: var(--primary-color);
    border-radius: var(--boader-radius);*/
}
.sub-box-skills {
    padding: 10px;
    text-align: center;
}
.sub-box-skills img {
    width: 100px;
    height: auto;
}
#skills h1{
    font-size: 50px;
    line-height: 1.2;
    color: #E6A3C2;
    font-weight: 100;
    margin: 0;
}

#assignments{
    height: auto;
    padding: 30px 9%;

    text-align: center;
    justify-items: center;

    background-color: #0a0a0a;
}
#box-container-assignments{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;

    position: relative;
    top: 100px;
}
#box-container-assignments>div{
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.assignment-cover{
    width: 400px;
    height: 250px;
}
.box-assignments:hover{
    box-shadow: 0 0 0 1px #E6A3C2;
}
.box-assignments h3{
    font-size: 20px;
    margin-bottom: 10px;
    line-height:2.2;
    font-weight: 600;
    color: #E6A3C2;
    align-items: center;
}
#assignments h1{
    font-size: 50px;
    line-height: 1.2;
    color: #E6A3C2;
    font-weight: 100;
    text-align: left;
}

/*Blogs-styles*/
#blog{
    width: 100vw;
    height: auto;
    position: relative;
   // top: 100px;
    background: #5B213F;
}
#blog h1{
    font-size: 50px;
    line-height: 1.2;
    color: #E6A3C2;
    font-weight: 100;
    text-align: left;
    position: relative;
    left: 50px;
}
#blogs {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}
main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}
div.item {
    position: absolute;
    width: 700px;
    height: 550px;
    border-radius: 15px;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}
div.item:nth-of-type(1) {
    --offset: 1;
    background: url("assets/images/background.jpg") center;
    background-size: cover;
}
div.item:nth-of-type(2) {
    --offset: 2;
    background: url("assets/images/background.jpg") center;
    background-size: cover;
}
div.item:nth-of-type(3) {
    --offset: 3;
    background: url("assets/images/background.jpg") center;
    background-size: cover;
}
div.item:nth-of-type(4) {
    --offset: 4;
    background: url("assets/images/background.jpg") center;
    background-size: cover;
}
div.item:nth-of-type(5) {
    --offset: 5;
    background: url("assets/images/background.jpg") center;
    background-size: cover;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
}
input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
}



/*Hobbies*/
#hobbies{
    width: 100vw;
    height: auto;
    position: relative;
   // top: 100px;
    padding: 50px;
    background:  #5B213F;
}
#box-container-hobbies{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;

    position: relative;
    top: 100px;

}
#box-container-hobbies>div{
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
#hobbies h1{
    font-size: 50px;
    line-height: 1.2;
    color: #E6A3C2;
    font-weight: 100;
    text-align: left;
    position: relative;
    left: 50px;
}
#designs {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}
main#carousel1 {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 60vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}
div.item1 {
    position: absolute;
    width: 300px;
    height: 350px;
    border-radius: 15px;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}
div.item1:nth-of-type(1) {
    --offset: 1;
    background: url("assets/images/background.jpg") center;
    background-size: cover;
}
div.item1:nth-of-type(2) {
    --offset: 2;
    background: url("assets/images/background.jpg") center;
    background-size: cover;
}
div.item1:nth-of-type(3) {
    --offset: 3;
    background: url("assets/images/background.jpg") center;
    background-size: cover;
}
div.item1:nth-of-type(4) {
    --offset: 4;
    background: url("assets/images/background.jpg") center;
    background-size: cover;
}
div.item1:nth-of-type(5) {
    --offset: 5;
    background: url("assets/images/background.jpg") center;
    background-size: cover;
}

#designs input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#designs input:nth-of-type(1):checked ~ main#carousel1 {
    --position: 1;
}

#designs input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
#designs input:nth-of-type(2):checked ~ main#carousel1 {
    --position: 2;
}

#designs input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
#designs input:nth-of-type(3):checked ~ main#carousel1 {
    --position: 3;
}
#designs input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
#designs input:nth-of-type(4):checked ~ main#carousel1 {
    --position: 4;
}

#designs input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
#designs input:nth-of-type(5):checked ~ main#carousel1 {
    --position: 5;
}

#contact{
    width: 100vw;
    height: auto;
    text-align: center;
    background: url("assets/images/footer.jpg") center; background-size: cover;lazyload: true;background-attachment: fixed;
    backdrop-filter: blur(20%);
}

#contact-header{
    font-size: 70px;
}
#contact-details{
    position: relative;
    top: 200px;
}
#social-logos{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#social-logos>div{
    width: 70px;
    height: 70px;
    border: 2px solid rgb(235,209,151);
    border-radius: 100%;
    margin: 5px;

    position: relative;
    text-align: left;
}
/*#social-logos>div>a{*/
/*    position: relative;*/
/*    text-align: center;*/
/*}*/
#contact-details .fa-brands{
    font-size: 50px;
    color: rgb(235,209,151);
    position: relative;
    top: 25px;
    left: 11px;
}
#contact-details .fa-brands:hover{
    color: #E6A3C2;
}
#social-logos>div:hover{
    border: 2px solid #E6A3C2;
    box-shadow: 0 0 10px #E6A3C2;
}
.btn-contact{
    padding: 20px;
    border-color: transparent;
    background-color: transparent;
    /*color: #5286B4;*/
    color: rgb(235,209,151);
    font-size: 25px;

    text-shadow: 0 0 10px rgb(235,209,151);
}
.btn-contact:hover{
    background-color: transparent;
    /*box-shadow: 0 0 0 2px #0a0a0a;*/
    color: rgba(91, 33, 63, 0.53);
}
.fa-arrow-right-long{
    font-size: 25px;
    font-weight: bold;
}
#footer-div {
    position: relative;
    text-align: start;
    left: 30px;
    bottom: -540px;
    font-size: 20px;
}

/*===================================================================================================*/
@media only screen and (max-width: 1900px) {
    #box-container-assignments {
        top: 0;
    }
    #box-container-projects{
        top: 0;
    }
    .box-container-main>div:nth-child(2) {
        top:120px;
        left: 110px;
    }
    .box-container-main>div:nth-child(1){
    //background: linear-gradient(120deg, #fd4766 20.69%, #7644ff 50.19%, #fd4766 79.69%);
        top:90px;
    }
    .box-container-main>div>h1{
        color: #5B213F;
        font-size: 50px;
        font-weight: 600;
        margin: 10px 5px;
    }
    nav ul li {
        font-size: 17px;

    }
    .box-container-main>div>h1>span{
        color: #E6A3C6;
        font-size: 77px;
        font-weight: 600;
    }

}
@media only screen and (max-width: 1600px) {
    .box-container-main>div:nth-child(2) {
        top:120px;
        left: 90px;
    }
    .box-container-main>div:nth-child(1){
    //background: linear-gradient(120deg, #fd4766 20.69%, #96d0ec 50.19%, #fd4766 79.69%);
        top:90px;
        right: 70px;
    }
    .box-container-main>div>h1{
        color: #5B213F;
    }
    #main{
        background-position: right;
}
@media only screen and (max-width: 1500px) {
    .box-container-main>div:nth-child(2) {
        top:120px;
        left: 110px;

    }
    .box-container-main>div:nth-child(1){
    //background: linear-gradient(120deg, #fd4766 20.69%, #7644ff 50.19%, #fd4766 79.69%);
        top:80px;
    }
    #main {
        /*background: linear-gradient(to bottom left, #5B213F, white);*/
        background-position: center;
    }
    .nav-links {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 9999;
    }

    .nav-links.active {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Adjust the number of columns as needed */
        gap: 20px;
        padding: 20px;
        text-align: center;
    }

    .nav-links li {
        text-align: center;
        padding: 10px 0;
    }

    .nav-links a {
        color: #fff;
        font-size: 18px;
    }

    .hamburger-menu {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 9999;
    }

    .hamburger-menu.active .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.active .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
@media only screen and (max-width: 1400px) {
    .box-container-main>div:nth-child(2) {
        top:90px;
        left: 70px;
    }
    .box-container-main>div:nth-child(1){
        top:100px;
        
    }

}
    @media screen and (max-width: 1200px) {
        /*.box-container-main>div{
            position: relative;
            top: 0;
        }
        .box-container-main>div>div:nth-child(1){
            width: 350px;
            height: 350px;
            border-radius: 100%;
            margin: 20px auto;
        }
        .box-container-main>div>h1{
            font-size: 40px;
        }
        .box-container-main>div>h1>span{
            font-size: 60px;
        }
        .box-container-main>div>p{
            font-size: 18px;
        }
        .images {
            background-color: transparent;
            width: 200px;
            height: 200px;
            overflow: hidden;
            animation: rotateBorder 10s linear infinite;
        }
        .box-container-main>div>div:nth-child(1){
            width: 400px;
            height: 400px;
            border-radius: 100%;
            margin: 20px auto;
            //background: linear-gradient(120deg, #fd4766 20.69%, rgba(248, 86, 114, 0.41) 50.19%, #fd4766 79.69%);

        }
        .box-container-main>div:nth-child(2)>span{
            font-size: 15px;}
    }

        .box-container-about>div:nth-child(2){
            display: none;
        }

        .box-container-main>div:nth-child(2) {
            position: relative;
            top:120px;
            left: 50px;
        }
        .box-container-main>div:nth-child(1){
            top:100px;
        }
*/
        .box-container-main>div:nth-child(1) {
            position: relative;
            top: 0%;
            left: 0%;
        }
        .box-container-main>div:nth-child(2) {
            position: relative;
            top: 10%;
            left: 10px;
        }
        .box-container-main>div>div:nth-child(1){
            width: 300px;
            height: 300px;
            border-radius: 100%;
            margin: 20px auto;
        }
        .box-container-main>.box-main>.images>div>img {
            background-color: transparent;
            width: 300px;
            height: 370px;
            animation: rotateBorder 10s linear infinite;
        }
        .box-container-main > div > span {
            position: relative;
            left: 130px;
        }
        .box-container-main>div {
            position: relative;
             padding: 0;

        }
        .box-container-about>div:nth-child(2) {
            display: none;
        }


    }
@media only screen and (max-width: 1100px) {
    .buttons button{
        margin-top: 90px;
    }

}

@media only screen and (max-width: 1024px) {
    #main {
        background-position: right;
    }
    .box-container-main > div > span {
        font-size: 13px;
        text-align: center;
    }
    .images {
        background-color: transparent;
        width: 100px;
        height: 100px;
        overflow: hidden;
        animation: rotateBorder 10s linear infinite;
    }
    .box-container-main>div>div:nth-child(1){
        width: 300px;
        height: 300px;
        border-radius: 100%;
        margin: 20px auto;
    //background: linear-gradient(120deg, #fd4766 20.69%, rgba(248, 86, 114, 0.41) 50.19%, #fd4766 79.69%);

    }

    #about-me-title > h1, #box-container-projects > div:nth-child(1), #assignments h1 {
        font-size: 30px;
    }
    .box-container-about>div{
        position: relative;
        top: 50px;
    }
    .btn-about{
        margin-top: 0;
        margin-right: 50px;
    }
    .buttons button {
        margin-top: 10px;
        font-size: 12px;
    }
    .view-projects-btn{
        margin-top: 200px;
    }
    #about h1 span {
        color: white;
    }

    #about h3 {
        font-size: 15px;
        margin-bottom: 10px;
        line-height: 2.2;
        font-weight: 600;
        color: #E6A3C2;
        align-items: center;
    }

    #about h3 span {
        color: white;
        left: 13px;
    }

    #about p, #box-container-projects > div:nth-child(1) p {
        color: white;
        font-size: 15px;
    }

    .buttons button #box-container-projects > div:nth-child(1) button {
        font-size: 12px;
        margin: 10px;
    }

    .icons-container {
        width: 30px;
        height: 30px;
    }

    /* .box-container-about{
        display: flex;
        flex-direction: column;
    }
    #marquee-about{
       font-size: 20px;
   }*/
    #box-container-projects {
        position: relative;
        top: 100px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .assignment-cover, .projects-cover {
        width: 200px;
        height: 150px;
    }

    div.item {
        position: absolute;
        width: 400px;
        height: 250px;

    }

    #skills h1 {
        font-size: 40px;
    }

    .sub-box-skills img {
        width: 50px;
        height: auto;
    }

    #contact-header {
        font-size: 30px;
    }

    /*projects-animated-box-media-queries*/
    .cube-container {
        width: 200px;
        height: 200px;
        position: relative;
        top: 60px;
    }
    }
    .face {
        position: absolute;
        width: 200px;
        height: 200px;
    }
    .front {
        transform: translateZ(100px);
    }

    .back {
        transform: rotateY(180deg) translateZ(100px);
    }

    .right {
        transform: rotateY(90deg) translateZ(100px);
    }

    .left {
        transform: rotateY(-90deg) translateZ(100px);
    }

    .top {
        transform: rotateX(90deg) translateZ(100px);
    }

    .bottom {
        transform: rotateX(-90deg) translateZ(100px);
    }

    .cube-container:hover .cube {
        animation-play-state: paused;
    }

    @keyframes rotate {
        0% {
            transform: rotateX(0) rotateY(0) rotateZ(0);
        }

        100% {
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        }
    }
    .box-side-img{
        width:200px;
        height:200px
    }
}

.loader {
    width: 160px;
    height: 185px;
    position: relative;
    background:#E6A3C6;
    border-radius: 100px 100px 0 0;
    left: 940px;
}

.loader:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 125px;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    background-image: radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, rgb(252, 251, 251) 30%, transparent 45%),
    radial-gradient(circle, #000 48%, transparent 51%),
    linear-gradient(#000 20px, transparent 0),
    linear-gradient(#fcfbfb 60px, transparent 0),
    radial-gradient(circle, #fcfbfb 50%, transparent 51%),
    radial-gradient(circle, #fcfbfb 50%, transparent 51%);
    background-repeat: no-repeat;
    background-size: 16px 16px, 16px 16px, 10px 10px, 42px 42px, 12px 3px,
    50px 25px, 70px 70px, 70px 70px;
    background-position: 25px 10px, 55px 10px, 36px 44px, 50% 30px, 50% 85px,
    50% 50px, 50% 22px, 50% 45px;
    animation: faceLift 3s linear infinite alternate;
}

.loader:before {
    content: "";
    position: absolute;
    width: 140%;
    height: 125px;
    left: -20%;
    top: 0;
    background-image: radial-gradient(circle, rgb(230, 163, 198) 48%, transparent 50%),
    radial-gradient(circle, rgb(230, 163, 198) 48%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 65px 65px;
    background-position: 0px 12px, 145px 12px;
    animation: earLift 3s linear infinite alternate;
}

@keyframes faceLift {
    0% {
        transform: translateX(-60%);
    }

    100% {
        transform: translateX(-30%);
    }
}

@keyframes earLift {
    0% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}
/*.card {
    position: relative;
    width: 220px;
    height: 320px;
    background: rgb(209, 72, 122);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.card::before,
.card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(230, 173, 203);
    transition: all 0.5s;
}

.card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
}

.card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
}

.card:hover::before,
.card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
}

.card:hover:after {
    content: "Problem Solver";
}*/

@keyframes blinkCursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes typeAndDelete {
    0%,
    10% {
        width: 0;
    }
    45%,
    55% {
        width: 6.2em;
    } /* adjust width based on content */
    90%,
    100% {
        width: 0;
    }
}

