body {
    background-color: #5e5e5e;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
.container {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;

}
html{
    scroll-behavior: smooth;
}
#logo {
    width: 200px;
    height: 150px;
    object-fit: contain;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 28px;
    margin-bottom: 10px;
    border-radius: 50%;

}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 60px;
    background-color: #333;
    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family:  sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    margin: 0 10px;
}
nav a {
    color:white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease;

}
nav a:hover , .active {
    background-color: #555;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: mediumspringgreen;
}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    position: relative;

}

.summary h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: -40px;
}
.summary h3 {
    font-size: 30px;
    margin-bottom: -10px;
    color: mediumspringgreen;

}
.summary p {
    font-size: 20px;
    margin-bottom: 0;

}
.icons{
    position: absolute;
    bottom:45px;
    right: 5px;
   width: 100%;
   display: flex;
   justify-content: center;

}
.icons img{
    display: inline-flex;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease;

}
.icons img:hover {
    transform: scale(1.2);
}

.pp {
    position: absolute;
    bottom: 230px;
    right: -700px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#profile pic {
    width: 350px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 50px;

}
.email {
    position: absolute;
    top: 780px;
    right: 645px;
    bottom: 0;
    display: flex;
    color: #5e5e5e;
    justify-content: center;
    font: normal 12px sans-serif;
}
section>div>h1>span {
    color: #c7c3c3;
    font-size: 20px;
    margin-top: -40px;
}
#about {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    position: relative;
    margin-top: 50px;
    background-color:black;
    color: #c7c3c3;
}
#header{
    position: absolute;
    font-size: 58px;
    font-weight: 700;
    line-height: 88px;
    left: 1000px;
    top: 80px;
    z-index: 100;
    color: mediumspringgreen;
}
#about-me-details
{ width: 610px;
    height: 286px;
    font-size: 23px;
    font-weight: 100;
    line-height: 32px;
    position: absolute;
    top: 200px;
   ;
}
.button{
    position: absolute;
    top: 700px;
    right: 1020px;
    bottom: 0;
    display:inline-block;
}
.buttoncv {
    background-color: mediumspringgreen;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border-color: #c7c3c3;
    transition: background-color 0.7s ease;


}
.buttoncv:hover {
    background-color: black;
    color: mediumspringgreen;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.buttonhi {
    background-color: mediumspringgreen;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border-color: #c7c3c3;
    transition: background-color 0.7s ease;

}
.buttonhi:hover {
    background-color: black;
    color: mediumspringgreen;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.button a{
    margin-right: 15px;
}
h3 {
    font-size: 17px;
    font-weight: bold;
    display: flow;
    color: mediumspringgreen;
    margin-bottom: 5px;

}
.info>h3>span {
    color: rgba(255, 255, 255, 0.49);
    margin-left: 5px;

    font-weight: normal;
}
.info {
    position: absolute;
    top: 450px;
    right: 928px;
    bottom: 0;

}





