@media only screen and (max-width: 1200px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 9999;
        text-align: center;
    }

    .nav-links.active {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Adjust the number of columns as needed */
        gap: 20px;
        padding: 20px;
        text-align: center;
    }

    .nav-links a {
        color: #fff;
        font-size: 18px;
    }

    .hamburger-menu {
        display: block;
        position: fixed;
        top: 20px;
        z-index: 9999;
        right: 20px;
        margin: 15px;
    }

    .hamburger-menu.active .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.active .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .box-container-main>div>div:nth-child(1){
        width: 350px;
        height: 350px;
    }

    .box-container-main>div>h1{
        font-size: 40px;
    }
    .box-container-main>div>h1>span{
        font-size: 60px;
    }
    .box-container-main>div:nth-child(1)>p {
        font-size: 13px;
    }
    #about{
        padding: 0 9%;
    }

    .images {
        background-color: transparent;
        width: 200px;
        height: 200px;
        overflow: hidden;
        animation: rotateBorder 10s linear infinite;
    }

    .images div img{
        width: 80%;
        height: 100%;
    }

    .box-container-main>div>div:nth-child(1){
        width: 400px;
        height: 400px;

    }
    .box-container-main>div:nth-child(2)>span{
        font-size: 15px;}

    .buttons button {
        margin-top: 10px;
        border:2px solid transparent;
        color: white;
        padding: 10px 20px;
        background-color: transparent;
        cursor: pointer;
        text-shadow: 0 0 20px rgb(235,209,151);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 18px;
    }
    .buttons-about {
        margin-top: 4px;
        width: 100%;
    }

    .section-h1{
        font-size: 40px; !important;
    }

    .cube-container {
        position: relative;
        top: 7rem!important;
    }

    .view-projects-btn {
        margin-top: 15rem;
    }
    #skills h1{
        font-size: 50px;
    }
    #assignments h1{
        font-size: 50px;
    }
    #blog h1 {
        font-size: 50px;
        margin: 60px;
    }
    #hobbies h1 {
        font-size: 50px;}

    #box-container-projects {
        top: 0;
    }
    #box-container-projects>div:nth-child(1) h1{
        font-size: 50px;}

}
@media only screen and (max-width: 991px) {

    #main {
        padding: 100px 8%;
        min-height: 80vh;
    }

    .box-container-main>div:nth-child(1) {
        position: relative;
    }
    .box-container-main>div:nth-child(2) {
        position: relative;
        top: 24%;
        left: 20px;
    }
    .box-container-main>div>div:nth-child(1){
        width: 300px;
        height: 300px;
        border-radius: 100%;
        margin: 20px auto;
    }
    .box-container-main>.box-main>.images>div>img {
        background-color: transparent;
        width: 270px;
        height: 370px;
        animation: rotateBorder 10s linear infinite;
    }
    .box-container-main > div > span {
        position: relative;
        left: 10px;
    }
    .box-container-main>div {
        position: relative;
        padding: 0;

    }
    .box-container-about>div:nth-child(2) {
        display: none;
    }
    .buttons button {
        font-size: 13px;
        margin: 23px;

    }
    .box-container-main>div:nth-child(1)>p {
        font-size: 12px;
    }
    .box-container-social i{
        font-size: 2em;
    }
    .container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        width: 100%;
        position: relative;
        top: 0;
    }
    /*Cube Styles until max-width: 991px*/
    .cube-container {
        width: 300px;
        height: 300px;
    }
    .face {
        width: 300px;
        height: 300px;
    }
    .front {
        transform: translateZ(150px);
    }
    .back {
        transform: rotateY(180deg) translateZ(150px);
    }
    .right {
        transform: rotateY(90deg) translateZ(150px);
    }
    .left {
        transform: rotateY(-90deg) translateZ(150px);
    }
    .top {
        transform: rotateX(90deg) translateZ(150px);
    }
    .bottom {
        transform: rotateX(-90deg) translateZ(150px);
    }
    .box-side-img{
        width:300px;
        height:300px
    }
    .fa-brands{
        font-size: 40px;
    }
}

@media only screen and (max-width: 768px) {

    .my-img{
        width: 220px;
        height: 220px;
    }

    .box-container-main>div:nth-child(1) {
        top: 18px;
    }
    .box-container-main>div>h1 {
        font-size: 34px;
    }

    .box-container-main>div>h1>span {
        font-size: 56px;

    }
    .box-container-social{
        font-size: 18px;
    }
    #about-me-title>h1 {
        font-size: 3.5rem;
    }
    .box-skills {
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    #assignments h1 {
        font-size: 3.5em;
    }
    .box-gallery{
        width: 220px;
        height: 220px;
    }

}

@media only screen and (max-width: 570px) {
    #about-me-title>h1 {
        font-size: 30px;
    }
    #about p{
        font-size: 18px;
    }
    #about h3{
        font-size: 18px;
    }

    #skills h1 {
        font-size: 3em;
    }
    /*Cube Styles until max-width: 570px*/
    .cube-container {
        width: 200px;
        height: 200px;
    }
    .face {
        width: 200px;
        height: 200px;
    }
    .front {
        transform: translateZ(100px);
    }
    .back {
        transform: rotateY(180deg) translateZ(100px);
    }
    .right {
        transform: rotateY(90deg) translateZ(100px);
    }
    .left {
        transform: rotateY(-90deg) translateZ(100px);
    }
    .top {
        transform: rotateX(90deg) translateZ(100px);
    }
    .bottom {
        transform: rotateX(-90deg) translateZ(100px);
    }
    .box-side-img{
        width:200px;
        height:200px
    }
    /*Gallery Styles until max-width: 570px*/
    .box-gallery span
    {
        transform: rotateX(calc(var(--i) * 45deg)) translateZ(200px);
    }
    .box-gallery{
        width: 165px;
        height: 165px;
    }
    #contact-details{
        position: relative;
        top:150px;
    }
    #contact-header{
        font-size: 50px;
    }
    .btn-contact{
        font-size: 20px;
    }
    .box-container-main>div:nth-child(1)>p{
        font-size: 15px;
    }
    .box-container-main > div > span {
        position: relative;
        left: 6px;
    }
    .box-container-main>div:nth-child(2) {
        position: relative;
        top: 10%;
        left: 10px;
    }
    .box-container-about>div{
        position: relative;
        top: 18px;

    }
    .cube h2{
        position: relative;top: 40px;
        text-align: center;
        font-size: 10px;
        font-family: "Poppins", sans-serif;
    }
    #hobbies p{
       font-size: 14px;line-height: 1.7
    }


}

@media only screen and (max-width: 450px) {
    section{  background: radial-gradient(circle at top right, #e171a6, rgb(180, 58, 119),transparent 50%, transparent 100%) fixed !important;
        background-color: #2d0019!important;}

    .my-img{
        width: 150px;
        height: 180px;
    }
    .logo {
        margin: 22px 30px 10px 0;
    }
    .box-container-main > div > span {
        left: 10px;
    }
    .box-container-main>div>h1>span {
        font-size: 58px;
    }
    #about-me-title>h1 {
        font-size: 2rem;
    }
    #about p {
        line-height: 2.5rem;
        font-size: 18px;
    }
    #about h3 {
        font-size: 21px;
    }
    #skills h1 {
        font-size: 2.5em;
    }
    #assignments h1 {
        font-size: 2.5em;
    }
    .box-container-main>div:nth-child(2) {
        left: 0;
    }
    #contact-details{
        position: relative;
        top:150px;
    }
    #contact-header{
        font-size: 30px;
    }
    .btn-contact{
        font-size: 20px;
    }
    .cube h2{
        position: relative;top: 20px;
        text-align: center;
        font-size: 10px;
        font-family: "Poppins", sans-serif;
    }
    #hobbies p{
        font-size: 13px;line-height: 1.7
    }

}